<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Mars Wars{% endblock %}</title>
        {% block stylesheets %}
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body  style="background-image:url('{{ asset('images/background/mars_home.jpg') }}')">
        <div class="container">
        {% block body %}

        {% endblock %}
        {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>