    {% block body %}
        <div id="mesages-in" style="height: 70%; overflow: auto">

        </div>

        <div style="30%">
            Send message to:<span id="message-to"></span>
            <button onclick="newMessage()" cick style="float: right">Send</button>
            <input type="text" id="message" style="width: 100%">
        </div>
	{% endblock %}